{% load static %}
<!-- Page Body Start-->
<div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    <div class="sidebar-wrapper">
        <div id="sidebarEffect"></div>
        <div>
            <div class="logo-wrapper logo-wrapper-center">
                
                <div class="back-btn">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="toggle-sidebar">
                    <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
                </div>
            </div>
            <div class="logo-icon-wrapper">
                <a href="index.html">
                    <img class="img-fluid main-logo main-white" src="{% static 'adminapp/images/logo/logo.png' %}" alt="logo">
                    <img class="img-fluid main-logo main-dark" src="{% static 'adminapp/images/logo/logo-white.png' %}"
                        alt="logo">
                </a>
            </div>
            <nav class="sidebar-main">
                <div class="left-arrow" id="left-arrow">
                    <i data-feather="arrow-left"></i>
                </div>

                <div id="sidebar-menu">
                    <ul class="sidebar-links" id="simple-bar">
                        <li class="back-btn"></li>

                        <li class="sidebar-list">
                            <a class="sidebar-link sidebar-title link-nav" href="{% url 'adminapp:index' %}">
                                <i class="ri-home-line"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-list">
                            <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="ri-store-3-line"></i>
                                <span>Customize News</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li>
                                    <a href="{% url 'adminapp:news' %}">News</a>
                                </li>

                                <li>
                                    <a href="{% url 'adminapp:add_or_remove_news' %}">Add News</a>
                                </li>
                                <li>
                                    <a href="{% url 'adminapp:user_articles' %}">User Articles</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-list">
                            <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="ri-list-check-2"></i>
                                <span>Category</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li>
                                    <a href="{% url 'adminapp:category_list' %}">Category List</a>
                                </li>

                                <li>
                                    <a href="{% url 'adminapp:add_category' %}">Add New Category</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-list">
                            <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="ri-list-check-2"></i>
                                <span>Sub Category</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li>
                                    <a href="{% url 'adminapp:sub_category_list' %}">Sub Category List</a>
                                </li>

                                <li>
                                    <a href="{% url 'adminapp:add_sub_category' %}">Add New Sub Category</a>
                                </li>
                            </ul>
                        </li>

                     

                        <li class="sidebar-list">
                            <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="ri-user-3-line"></i>
                                <span>Users</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li>
                                    <a href="{% url 'adminapp:users' %}">All users</a>
                                </li>
                                <li>
                                    <a href="{% url 'adminapp:add_user' %}">Add new user</a>
                                </li>
                            </ul>
                        </li>

                        
                    </ul>
                </div>

                <div class="right-arrow" id="right-arrow">
                    <i data-feather="arrow-right"></i>
                </div>
            </nav>
        </div>
    </div>
    <!-- Page Sidebar Ends-->