{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}

<div class="page-body">
    <div class="container-fluid">

    <h4>User article requests</h1>
    <div class="news-list">
        {% for news in all_news %}
            <div class="news-item">
                <h2><a href="{% url 'adminapp:detailed_news' slug=news.slug|slugify %}">{{ news.title }}</a></h2>
                <div class="news-meta">
                    <span>By {{ news.author }}</span> | 
                    <span>Published on {{ news.date_published }}</span>
                </div>
                {% if news.image_url %}
                    <img src="{{ news.image_url }}" alt="{{ news.title }}">
                {% elif news.image %}
                    <img src="{{news.image.url}}" style="width: 400px; height: 225px; object-fit: cover;" alt="{{ news.title }}">
                {% endif %}

                <p class="summary">{{ news.content|truncatewords:30 }}</p>
                <a class="read-more" href="{% url 'adminapp:detailed_news' slug=news.slug|slugify %}">Read More</a>
                <a href="{% url 'adminapp:accept_article' news.id %}"><button>Accept</button></a>
                <a href="{% url 'adminapp:reject_article' news.id %}"><button>Reject</button></a>
            </div>
        {% endfor %}
    </div>

    </div>

</div>


{% endblock %}